# Practical_1: Variables and Assignments

### Exercise1

In [11]:
x = 10
print(x)

10

###  Exercise2 assignning the value TRUE to valiable called 'is_valid'.

In [14]:
is_valid = True
print(is_valid)

True

### Excercise 3 create a string variable 'name'

In [18]:
name = "python Programming"
name

'python Programming'

### exercise4 assing result of 5+3 to variable

In [23]:
sum_result = 5 + 3
sum_result

8

### Exercise 5   assign multiple variable on one line:

In [26]:
a,b,c = 5, 10,15
print(a,b,c)

5 10 15

## Exercise 6 assign the value of one variable X to another variable

In [31]:
y = x
y

10

## Exercise 7 Assign afloating point 9.8 to a variable graavity.

In [36]:
gravity = 9.8
gravity

9.8

## Exercise 8:Create a variable COUNTRY and assign it the string value of country

In [39]:
country = "Uk"
country

'Uk'

## Exercise 9 : change the value of variable age from 25 to 26 in two separate

In [42]:
age = 25 
age = 26
age

26

## Exercise 10: use one variable to store the result of subtracting two numbers 20 - 7

difference = 20 - 7
difference

## Exercise 11 : assign an integer value and a floating point value to two different variables.

In [64]:
integer_val = 42
float_val =5.14
print(integer_val, float_val)

42 5.14

## Exercise12 assign a boolean value False to a variable is completed

In [59]:
is_completed = False
is_completed

False

## exercise 13: Swap the values of two variable X and Y

In [62]:
x = 30
y =20
x, y = y, x
print(x,y)

20 10

## Exercise 14: Complex number assignment 3 + 4j to a variable complex_num

In [68]:
complex_num = 3 +4j
complex_num

(3+4j)

### Exercise 15 Reassign a variable from integer to a string.

In [71]:
num_var = 100
num_var = "hundred"
num_var

'hundred'

### Exercise 16: create two variable first_name and last_name and assign them your first and last

In [74]:
first_name = "Jogh"
last_name = "Doe"
print(first_name, last_name)

Jogh Doe

### Exercise 17: create a variable temperature and assign it the value of 35.5

In [77]:
temperature = 35.5 
temperature

35.5

### Exercise 18: assign the result of the multiplication of two number 8*6

In [80]:
multiplication = 8*6
multiplication

48

### Exercise 19 assignmnent of sentence of your choice to a variable sentence

In [83]:
sentence = "python is a versatile programming language."
sentence

'python is a versatile programming language.'

 ## exercise 20: use an assignment to convert a string "50" into an integer variable int_value

In [86]:
int_value = int('50')
int_value

50

### Exercise Assignment of result of dividing 144 by 12 to variable quotient

In [89]:
quotient= 144/12
quotient

12.0

## Exercise assign the remainder of 47 divid by 5 to variable remainder

In [92]:
remainder = 47%5
remainder

2

## Exercise 23 create a variable is_student and assign it the value True.

In [95]:
is_student = True
is_student

True

## Exercise 25 use a variable to store the  result of a modulo operation:45%4

In [102]:
moduloresult = 45 % 4
moduloresult

1

## Exercise 25 create a variable pi and assign it the value 3.14159

In [105]:
pi = 3.14159
pi

3.14159

## Exercise 26 Create two variables length and width  assign them values

In [109]:
length = 5
width = 3
area = length * width
area

15

## Exercise assign negative number to variable negative_value

In [112]:
negative_value= -42
negative_value

-42

## Exercise 28 assign a string containing a special charactor

In [115]:
Greeting = "hello ther"
Greeting

'hello ther'

## Exercise 29 creating a variable population and assign it a large integer value

In [118]:
population = 7800988       # 7.8 billion
population

7800988

### Exercise30 use variable to store the result of raising 2 to the power 8

In [121]:
power_result = 2 ** 8
power_result

256

### Exercise 31 Assignment a list of your favorite fruits to a variable fruits

In [125]:
Fruit = ["apple", "banana","strowbery","mango"]
Fruit

['apple', 'banana', 'strowbery', 'mango']

### Exercise32 assign a tuple of three numbers to a variable coordinates.

In [130]:
coordinate = (10,20,30)
coordinate

(10, 20, 30)

## Exercise 33: assigna dictionary eith keys name and age to a variable person

In [133]:
person = {"name":"alice","age":30 }
person

{'name': 'alice', 'age': 30}

### Exercise 34 use variables to store the sum of two floating-point numbers.

In [138]:
float1 = 3.5
float2 = 2.7
float_sum = float1 + float2
float_sum

6.2

### Exercise 35 is_sunny and assign it the result of a comparison 10 > 5

In [142]:
is_sunny =10 > 5
is_sunny

True

### Exercise 36 assign a string and an integer to two different variables, then print both on one line.

In [145]:
message = "The answer is"
number = 42
print (message, number)

The answer is 42

### Exercice 37 : Reassign a variable that originally held a number to a boolean valuea

In [148]:
var = 100
var = True
var

True

### Exercise 38: create a variable is_weekend and assign it the result of false.

In [151]:
is_weekend = False
is_weekend

False

### Exercise39 assign a multi-line string to a variable description.

In [154]:
description = """this is multi-line string.
              It spans across multiple lines
              It's useful for longer text content."""
description

"this is multi-line string.\n              It spans across multiple lines\n              It's useful for longer text content."

### Exercise 40 use variables to store the result of the absolute value of -25.

In [158]:
abs_value = abs(-25)
abs_value

25

### Exercise41 assign the result of a floor division 100 //6 to variable floor_dir_result.

In [161]:
floor_div_result = 100 // 6
floor_div_result

16

### Exercise 42: assign the result of adding a floatinf point number to an integer to a variable mixed sum.

In [164]:
integer_num = 10
float_num = 5.5 
mixed_sum = integer_num + float_num
mixed_sum

15.5

###  Exercise 43 Use variables to store a combination of string concatenation

In [167]:
str1 = "Hello"
str2 ="world"
combined_str = str1 + " " + str2
combined_str

'Hello world'

### Exercise 44: Assign an empty list to a variable empty_list

In [171]:
empty_list = []
empty_list

[]

### Exercise 45 Assign a boolean value based on the comparison of two variables a= 10 and b = 15

In [174]:
a = 10
b = 15
comparison_result = a<b
comparison_result

True

### Exercise 46 Assign a long sentence to a variable and count its charactersusing len()

In [177]:
long_sentence = "This is a rather lomg sentence that will be used to demonstrate how to count the number of characters in a string using python len() function"
char_count = len(long_sentence)
char_count

141

### Exercise 47 Assign a fractional result 7/3 to a variable division_result

In [180]:
division_result = 7/3
division_result

2.3333333333333335

### Exercise 48 : Create a variable speed and assign it the value  of 100K per hour

In [183]:
speed =100 # km/h
speed

100

### Exercise 49 assign a mult_variable equation like y =3x + 5 wherex = 4 to a variable y.

In [186]:
x = 5
y = 3 * x + 5
y

20

### Exercise 50 Use variables to calculate and store the average of three numbers.

In [193]:
num1 = 10
num2 = 15
num3 = 20
average = (num1 + num2 + num3)/3
average

15.0